<!-- HEAD -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Aldo Ortiz | Developer & Analyst</title>
<meta name="description" content="Digital resume and portfolio of Aldo Ortiz" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="icon" type="image/png" href="assets/images/favicon.png" />

<!-- STYLES -->
<link rel="stylesheet" href="./styles/main.css?v=1.0.1" />
<link rel="stylesheet" href="./styles/theme-switcher.css?v=1.0.1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap" rel="stylesheet" />

<!-- Scroll Animations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script> 