<!-- TECH STACK -->
<section id="tech" class="section--page">
  <h2>Tech I Use</h2>
  <div id="wrapper--techstack__items">
    <div class="card--techstack">Python</div>
    <div class="card--techstack">JavaScript</div>
    <div class="card--techstack">SQL</div>
    <div class="card--techstack">Pandas</div>
    <div class="card--techstack">React</div>
    <div class="card--techstack">MongoDB</div>
    <div class="card--techstack">MySQL</div>
    <div class="card--techstack">HTML/CSS</div>
  </div>
</section> 