<!-- WORK HISTORY -->
<section id="work" class="section--page">
  <h2>Experience</h2>
  <div class="card--work-history">
    <strong>Business Analyst | VeriPark</strong><br />
    <p>2024 - Present</p>
    <ul>
      <li>Delivered requirement docs for enterprise banking platforms</li>
      <li>Collaborated with devs and stakeholders using agile methodology</li>
    </ul>
  </div>
  <div class="card--work-history">
    <strong>IT Co-op | QuadReal</strong><br />
    <p>2024</p>
    <ul>
      <li>Resolved issues across hardware, software, and network environments</li>
    </ul>
  </div>
  <div class="card--work-history">
    <strong>Customer Experience | Neo Financial</strong><br />
    <p>2021 - 2023</p>
    <ul>
      <li>Helped users through onboarding and fintech troubleshooting</li>
    </ul>
  </div>
</section> 